Median and Average Hourly Wages in the USA (1973-2022)


**Introduction:**
Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal

Clearly state the question you will try to answer with your project

Identify and describe the dataset that will be used to answer the question

**Preliminary exploratory data analysis:**

Demonstrate that the dataset can be read from the web into R 

Clean and wrangle your data into a tidy format

Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 

Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [6]:
library(tidyverse)

wage_data <- read_csv("https://raw.githubusercontent.com/asnbl/dsci-100-2023-24W-group-16/main/median_average_wages.csv")

wage_data <- wage_data |>
             select(year, white_average, black_average, hispanic_average)

tidy_wage_data <- pivot_longer(wage_data,
                               white_average:hispanic_average,
                               names_to = "Race",
                               values_to = "Wage") |>
                  mutate(Race = as_factor(Race))
tidy_wage_data

Rows: 50 Columns: 31
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (31): year, median, average, men_median, men_average, women_median, wome...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    year Race             Wage
1   2022 white_average    34.49
2   2022 black_average    25.61
3   2022 hispanic_average 24.84
4   2021 white_average    34.50
5   2021 black_average    25.40
6   2021 hispanic_average 24.90
7   2020 white_average    34.86
8   2020 black_average    26.03
9   2020 hispanic_average 25.29
10  2019 white_average    32.79
11  2019 black_average    24.09
12  2019 hispanic_average 23.49
13  2018 white_average    32.44
14  2018 black_average    23.53
15  2018 hispanic_average 22.81
16  2017 white_average    31.64
17  2017 black_average    22.95
18  2017 hispanic_average 22.52
19  2016 white_average    31.30
20  2016 black_average    23.09
21  2016 hispanic_average 22.29
22  2015 white_average    30.75
23  2015 black_average    22.72
24  2015 hispanic_average 21.57
25  2014 white_average    29.49
26  2014 black_average    22.17
27  2014 hispanic_average 20.77
28  2013 white_average    29.72
29  2013 black_average    22.34
30  2013 hispanic_average 20.64
⋮   ⋮    ⋮                ⋮
121 1982 white_average    23.31
122 1982 black_average    18.87
123 1982 hispanic_average 18.81
124 1981 white_average    23.08
125 1981 black_average    19.06
126 1981 hispanic_average 18.77
127 1980 white_average    23.19
128 1980 black_average    19.16
129 1980 hispanic_average 19.01
130 1979 white_average    23.66
131 1979 black_average    19.56
132 1979 hispanic_average 19.32
133 1978 white_average    23.46
134 1978 black_average    19.09
135 1978 hispanic_average 18.79
136 1977 white_average    23.38
137 1977 black_average    18.93
138 1977 hispanic_average 19.21
139 1976 white_average    23.47
140 1976 black_average    19.20
141 1976 hispanic_average 18.98
142 1975 white_average    23.30
143 1975 black_average    18.46
144 1975 hispanic_average 18.36
145 1974 white_average    23.21
146 1974 black_average    18.36
147 1974 hispanic_average 19.04
148 1973 white_average    23.72
149 1973 black_average    18.61
150 1973 hispanic_average 18.71

**Methods:**

Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?

Describe at least one way that you will visualize the results

**Expected outcomes and significance:**

What do you expect to find?

What impact could such findings have?

What future questions could this lead to?